.carousel-blocks {
    position: relative;
}

.carousel-blocks-container {
    margin: 20px 0;
}

.carousel-blocks-container>h2 {
    margin-left: 150px;
    font-weight: 500;
    padding: 20px 0;
    display: none;
    text-transform: uppercase;
}

.carousel-blocks__content {
    position: relative;
    overflow: hidden;
}
.carousel-blocks__overlay {
    height: 500px;
    position: absolute;
    width: 300px;
    /* background-color: white; */
}
.carousel-blocks__track {
    margin: 0 0 0 var(--side-width);
    list-style: none;
    position: relative;
    /* display: flex; */
    /* width: -moz-fit-content; */
    height: -moz-fit-content;
    /* width: fit-content; */
    height: var(--small-carousel-height);
    /* padding-left: 20px; */
    transition: var(--transition-normal);
    box-sizing: border-box;
}

.carousel-blocks__slide {
    /* position: relative; */
    position: absolute;
    width: 300px;
    /* margin-right: 30px; */
    background-color: #ffffff;
    height: 100%;
    color: #000000;
}

.carousel-blocks__slide img {
    width: 100%;
    height: var(--slide-img-height);
}

.carousel-blocks__hearts {
    position: absolute;
    top: calc(var(--slide-img-height) - 25px);
    font-size: 0.8rem;
    right: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.carousel-blocks__hearts p i {
    transition: var(--transition-short);
}

.carousel-blocks__hearts:hover i {
    color: #b21956;
}

.carousel-blocks__slide-content {
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 17px;
}

.carousel-blocks__slide-content p {
    color: #000000;
    font-size: 13px;
    line-height: 23px;
    text-transform: none;
}

.carousel-blocks__triangle {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--bg-body);
    position: absolute;
    top: var(--slide-img-height);
    transform: translateY(-50%);
}

.carousel-blocks__slide-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    height: var(--slide-img-height);
    background: linear-gradient(180deg, #0a478750 0%, #0a478760 65%, #0a478790 100%);
}

.carousel-blocks__slide-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    box-sizing: border-box;
}

.carousel-blocks__slide-footer_comments {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
}

.carousel-blocks__slide-footer_comments i {
    color: #cccccc;
    margin-right: 5px;
    font-size: 14px;
    transition: var(--transition-short);
}

.carousel-blocks__slide-footer_comments:hover i  {
    color: #7c7c7c;
}

.carousel-blocks__slide-footer_dots {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--transition-short);
}
.carousel-blocks__slide-footer_dots:hover {
    background-color: #c9c9c9;
}

.carousel__button.carousel-blocks__button {
    display: none;
}

@media(min-width: 481px) {
    .carousel-blocks__slide {
        width: 380px;
    }
    .carousel-blocks__track {
        padding-left: var(--side-width);
    }
    .carousel__button.carousel-blocks__button {
        display: block;
        background-color: var(--bg-body);
    }
    .carousel__button.carousel-blocks__button:hover {
        background-color: #ffffff;
        color: var(--bg-body);
    }
}

@media(min-width: 768px) {
    .carousel-blocks-container>h2 {
        display: block;
        margin-left: var(--side-width);
    }
    .carousel-blocks-container-2 {
        display: block;
    }
}

@media(min-width: 992px) { 
    .carousel-blocks-container>h2, .carousel-blocks__track {
        margin-left: calc(var(--left) + var(--side-width));
    }
}

@media(min-width: 1600px) {
    .carousel-blocks-container>h2 {
        width: calc(var(--content-width) - var(--side-width));
        margin: 0 auto;
        padding-left: 0;
    }

    .carousel-blocks__track {
        margin-left: calc((100% - var(--content-width) + var(--side-width))/2);
    }
    
}