@import url('./variables.css');
#nav-bar {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-nav-transparent);
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    position: fixed;
    left: -100vw;
    transition: var(--transition-short);
    opacity: 0;
    z-index: var(--z-nav-bar);
}

a {
    text-decoration: none;
    color: var(--text-white);
}

header.open #nav-bar {
    left: 0;
    opacity: 1;
}

.toggler-container {
    padding: 30px;
    position: fixed;
    left: 0;
    background-color: #130327;
    z-index: var(--z-nav-toggler);
    box-shadow: 0px 0 20px 5px #000000;
    transition: var(--transition-short);
}

.sidebar-toggler {
    width: 25px;
    height: 20px;
    position: relative;
    /* left: calc((var(--side-width) - 25px)/2); */
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    transition: var(--transition-short);
}

.bar, .cross {
    width: 100%;
    height: 3px;
    display: block;
    border-radius: 4px;
    background-color: var(--text-white);
    position: absolute;
    transition: var(--transition-short);
    opacity: 1;
}

.bar-1 {
    top: 0;
}

.bar-2, .bar-3 {
    top: 8px;
    opacity: 1;
}

.bar-4 {
    top: 16px;
}

header.open .sidebar-toggler .bar-1 {
    transform: rotate(45deg);
    top: 10px;
}

header.open .sidebar-toggler .bar-4 {
    transform: rotate(-45deg);
    top: 10px;
}

header.open .sidebar-toggler .bar-2 {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

header.open .sidebar-toggler .bar-3 {
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

header.open .toggler-container {
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    box-shadow: none;
}

.sidebar-toggler:hover, header.open .sidebar-toggler:hover {
    transform: scale(1.2);
}

.nav-bar__item {
    padding: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--transition-short);
}

.nav-bar__item:hover {
    background-color: var(--bg-nav-hover-transparent);
}

.overlay {
    background-color: var(--overlay);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: var(--z-overlay);
    display: none;
}

.mail i {
    font-size: 1.6rem;
    color: var(--text-white);
}

.mail-md {
    position: absolute;
    right: 25px;
    top: 37px;
    display: none;
    z-index: var(--z-nav-bar);
}

footer {
    padding: 30px;
    height: fit-content;
}

.footer {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    line-height: 23px;
    justify-content: space-between;
}

.footer h4 {
    font-size: 15px;
    text-transform: uppercase;
    color: #0d4363;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.footer li {
    margin: 8px 0;
}

.footer a {
    text-decoration: none;
    color: var(--text-white);
}

.footer a:hover {
    text-decoration: underline;
}

.footer__history, .footer__contact, .footer__about {
    width: 100%;
}

.footer-note {
    margin-top: 100px;
    font-size: 11px;
}

.footer-note p {
    color: #5c5b61;
}

@media(min-width: 481px) {
    #nav-bar {
        width: var(--nav-width);
        background-color: var(--bg-nav);
    }
    .nav-bar__item:hover {
        background-color: var(--bg-nav-hover);
    }
    .overlay.show {
        display: block;
    }
    header.open .toggler-container {
        left: calc(var(--nav-width) / 2);
        transform: translateX(-50%);
        background-color: transparent;
        box-shadow: none;
    }
    .mail-md {
        display: block;
    }
    .footer__about {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__history, .footer__contact {
        width: 45%;
    }
}

@media(min-width: 768px) {
    footer {
        padding: 50px var(--side-width);
    }
    .footer__about {
        width: 35%
    }
    .footer__history {
        width: 25%;
    }
    .footer__contact {
        width: 35%;
    }
}

@media(min-width: 992px) {
    .mail-md {
        right: 50px;
    }
    footer {
        padding: 50px calc(var(--side-width) + var(--left-lg));
    }
    .footer__about {
        width: 35%
    }
    .footer__history {
        width: 25%;
    }
    .footer__contact {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    .footer {
        justify-content: left;
    }
    .footer__about {
        width: 300px;
        margin-right: 10px
    }
    .footer__history {
        width: 200px;
    }
    .footer__contact {
        width: fit-content;
    }
}

@media (min-width: 1600px) {
    footer {
        padding: 0;
    }
    .footer, .footer-note {
        width: calc(var(--content-width-xl) - var(--side-width)/2);
        margin: 50px auto;
    }

}